@import "../../styles/modules/button-unstyled"; //TODO: need absolut path;

.header-menu-button {
    @extend %button-unstyled;

    width: 30px;
    height: 100%;

    &__icon {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 5px;
            height: 5px;
            border-radius: 50%;
            box-shadow: 0 -9px 0 0 #777,
                        0 9px 0 0 #777;
            background-color: #777;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}
