.header {
    display: flex;
    justify-content: space-between;

    &__title {
        margin: 0;
        padding: 5px 0;
        background-color: #ccc;
        z-index: 1;
        flex-grow: 1;
    }

    &__menu {
        position: relative;
        flex-grow: 0;

        &-container {
            position: absolute;
            top: 100%;
            right: 0;
        }
    }
}